.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('../images/youtube-placeholder.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.body {
  background-color: #212121;
}

.body.sonata-stride-home {
  background-color: #0a0e0f;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.explore-sonata-stride {
  padding-top: 160px;
  padding-bottom: 120px;
}

.why-sonata-stride {
  background-color: #ededed;
}

.sonata-stride-knowledge-section {
  padding-top: 80px;
  padding-bottom: 100px;
}

.sonata-stride-footer {
  display: none;
}

.homepage-hero-stride-slider {
  height: 100vh;
}

.ss-home-banner-slide-1 {
  background-color: #121212;
}

.sonata-stride-fixed-header {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 5;
  background-color: rgba(0, 0, 0, .8);
}

.brand {
  text-align: left;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: transparent;
  text-align: left;
}

.navbar {
  background-color: transparent;
}

.image {
  padding-top: 20px;
  padding-bottom: 20px;
}

.stride-homepage-nav-links {
  color: #fff;
  font-size: 16px;
}

.stride-homepage-nav-links.w--current {
  border-bottom: 2px solid hsla(201.64705882352942, 100.00%, 50.00%, 1.00);
  color: hsla(201.64705882352942, 100.00%, 50.00%, 1.00);
}

.sonata-stride-home-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 60px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 300;
  text-align: center;
}

.paragraph {
  color: #fff;
}

.paragraph-2 {
  color: #fff;
}

.paragraph-3 {
  color: #fff;
}

.heading-2 {
  color: hsla(201.5625, 85.33%, 70.59%, 1.00);
}

.sonata-stride-footer-link {
  display: block;
  padding-bottom: 10px;
  color: #fff;
  font-style: normal;
  text-decoration: none;
}

.container {
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 2px solid #ededed;
}

.sonata-stride-footer-social-link {
  margin-left: 10px;
  float: right;
  border-radius: 10px;
  background-color: #fff;
}

.sonata-stride-footer-social-link-img {
  border-radius: 5px;
  opacity: 1;
}

.image-2 {
  display: block;
  margin-bottom: 40px;
}

.sonata-stride-sale-cta {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  font-size: 20px;
}

.text-block {
  color: #fff;
  font-size: 20px;
}

.container-2 {
  padding-top: 0px;
  padding-bottom: 100px;
  border-top: 2px none #ededed;
}

.container-3 {
  padding-top: 100px;
  border-top: 2px solid #ededed;
}

.sonata-stride-products-wrap {
  background-color: #333;
  background-image: linear-gradient(202deg, #262626 30%, #000);
  text-align: right;
}

.sonata-stride-product-img {
  position: relative;
  text-align: right;
}

.sonata-stride-feature-slider-indicator {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.left-arrow {
  display: none;
}

.right-arrow {
  display: none;
}

.sonata-stride-fitness-slider {
  height: 80vh;
  margin-bottom: 20px;
  border-bottom: 1px solid #666;
}

.left-arrow-2 {
  display: none;
}

.right-arrow-2 {
  display: none;
}

.video {
  height: 300px;
}

.knowledge-section-slider-content {
  width: 530px;
  height: auto;
}

.knowledge-section-slidepane {
  background-color: #000;
  text-align: center;
}

.knowledge-section-slider-content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slide-nav {
  background-color: rgba(0, 0, 0, .5);
}

.feature-section-slider-content-wrap {
  height: 100%;
  padding-top: 160px;
  padding-bottom: 0px;
  background-color: #e8e8e8;
}

.feature-section-slider-content-wrap.feature-section-slider-content-wrap-bg {
  position: relative;
  padding-top: 40px;
  background-image: url('../images/functions.jpg');
  background-position: 50% 28%;
  background-size: cover;
  background-repeat: no-repeat;
}

.columns {
  display: block;
  height: 100%;
}

.image-3 {
  float: right;
  opacity: 0.8;
}

.sonata-stride-feature-heading-blue {
  position: absolute;
  bottom: 60px;
  z-index: 1;
  margin-top: 0px;
  margin-bottom: 0px;
  color: hsla(206.875, 81.36%, 76.86%, 1.00);
  font-size: 100px;
  font-weight: 600;
  text-align: right;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.sonata-stride-feature-h2 {
  margin-top: 0px;
  color: hsla(201.73228346456693, 100.00%, 50.20%, 1.00);
  font-weight: 600;
  text-align: right;
  letter-spacing: -2px;
  text-transform: uppercase;
}

.sonata-stride-feature-h3 {
  color: #878787;
  font-size: 45px;
  font-weight: 300;
  text-align: right;
}

.sonata-stride-feature-text {
  color: #333;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  text-align: right;
}

.sonata-stride-feature-text.dark {
  color: #333;
}

.sonata-stride-feature-text.ss-slide-text-light {
  color: #ededed;
}

.sonata-stride-feature-heading-white {
  position: absolute;
  bottom: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 100px;
  font-weight: 600;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.sonata-stride-function-slider {
  height: 80vh;
  margin-bottom: 20px;
  border-bottom: 1px solid #666;
}

.sonata-stride-feature-slider {
  height: 80vh;
}

.feature-section-slider-content-wrap-3 {
  padding-top: 60px;
}

.container-4 {
  position: relative;
  height: 100%;
}

.container-5 {
  position: relative;
}

.sonata-stride-fitness-heading-blue {
  color: hsla(206.875, 81.36%, 76.86%, 1.00);
  font-size: 100px;
  font-weight: 600;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.slide-1 {
  background-image: url('../images/fitness-sonata-without-content.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider {
  height: 80vh;
}

.container-7 {
  height: 100%;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
}

.slide-2 {
  background-image: url('../images/fitness-1-without-content.jpg');
  background-position: 0% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-8 {
  height: 100%;
  padding-right: 40px;
}

.div-block-2 {
  height: 33%;
}

.slide-3 {
  background-image: url('../images/fitness-2-without-content.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-4 {
  background-image: url('../images/functions-without-content.jpg');
  background-position: 0% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-5 {
  background-image: url('../images/functions-1-without-content.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-6 {
  background-image: url('../images/Function-3-Without-text.jpg');
  background-position: 0% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-7 {
  background-image: url('../images/features-without-content.jpg');
  background-position: 0% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-8 {
  background-image: url('../images/features-1-without-content.jpg');
  background-position: 0% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-9 {
  background-image: url('../images/features-2-without-content.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.buy-now-explore-stride-link {
  display: block;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.column {
  text-align: left;
}

.ss-full-width-container {
  padding-right: 60px;
  padding-left: 60px;
}

.grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.ss-padding-top {
  padding-top: 100px;
  padding-bottom: 0px;
  border-top: 2px solid #666;
}

.map {
  height: 250px;
}

.link-block {
  display: block;
  height: 100%;
  background-image: url('../images/Sonata_homepage-Banners.jpg');
  background-position: 0% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

.link-block-2 {
  display: block;
  height: 100%;
  background-color: #000;
  background-image: url('../images/Sonata_homepage-Banners-2.jpg');
  background-position: 50% 90px;
  background-size: cover;
  background-repeat: no-repeat;
}

.ss-home-banner-slide-3 {
  background-image: url('../images/Sonata_homepage-Banners-3.jpg');
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

.ss-slide-content-1 {
  height: 100%;
  padding-top: 40px;
  padding-right: 60px;
}

.ss-slider-div-block {
  height: 33%;
}

.ss-slide-content-2 {
  height: 100%;
  padding-right: 60px;
}

.ss-slide-content-3 {
  height: 100%;
  padding-right: 60px;
}

.ss-slide-content-4 {
  height: 100%;
  padding-top: 40px;
  padding-right: 60px;
}

.ss-slide-content-5 {
  height: 100%;
  padding-right: 60px;
}

.ss-slide-content-6 {
  height: 100%;
  padding-right: 60px;
}

.ss-slide-content-7 {
  height: 100%;
  padding-top: 40px;
  padding-right: 60px;
}

.ss-slide-content-8 {
  height: 100%;
  padding-right: 60px;
}

.ss-slide-content-9 {
  height: 100%;
  padding-right: 60px;
}

@media (max-width: 991px) {
  .why-sonata-stride {
    background-color: #ededed;
  }
  .homepage-hero-stride-slider {
    height: 83vh;
  }
  .nav-menu {
    background-color: #212121;
  }
  .sonata-stride-home-heading {
    font-size: 32px;
    line-height: 32px;
  }
  .sonata-stride-footer-social-link {
    margin-left: 12px;
  }
  .sonata-stride-footer-social-link-img {
    opacity: 1;
  }
  .sonata-stride-fitness-slider {
    height: 50vh;
  }
  .sonata-stride-function-slider {
    height: 50vh;
  }
  .sonata-stride-feature-slider {
    height: 50vh;
  }
  .slide-1 {
    background-image: url('../images/fitness-sonata-without-content.jpg');
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .slider {
    height: auto;
  }
  .icon {
    color: #fff;
    font-size: 32px;
  }
  .menu-button {
    position: absolute;
    left: 10px;
    top: 10px;
    right: auto;
    bottom: auto;
    width: 68px;
  }
  .menu-button.w--open {
    top: 10px;
    right: 10px;
    background-color: #212121;
  }
  .grid {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .ss-padding-top {
    padding-top: 60px;
  }
  .link-block {
    background-position: 50% 90px;
    background-size: contain;
  }
  .link-block-2 {
    background-position: 50% 90px;
    background-size: contain;
  }
  .ss-home-banner-slide-3 {
    background-color: #121212;
    background-position: 50% 90px;
    background-size: contain;
  }
  .ss-home-banner-slide-4 {
    background-color: #121212;
  }
  .ss-slider-div-block.ss-slide-13-div-hide {
    height: 15%;
  }
  .ss-slide-content-4 {
    background-color: hsla(0, 0%, 100%, .5);
  }
  .ss-slide-content-5 {
    background-color: hsla(0, 0%, 100%, .5);
  }
  .ss-slide-content-6 {
    background-color: rgba(0, 0, 0, .5);
  }
  .ss-slide-content-8 {
    background-color: hsla(0, 0%, 100%, .5);
  }
}

@media (max-width: 767px) {
  .explore-sonata-stride {
    padding-top: 60px;
  }
  .sonata-stride-store-locator {
    padding-right: 50px;
    padding-left: 50px;
  }
  .homepage-hero-stride-slider {
    height: 65vh;
  }
  .sonata-stride-home-heading {
    font-size: 24px;
  }
  .sonata-stride-feature-h2 {
    font-size: 28px;
  }
  .sonata-stride-feature-h3 {
    font-size: 32px;
  }
  .sonata-stride-feature-text {
    color: #333;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
  }
  .container-7 {
    padding-top: 80px;
    padding-right: 60px;
  }
  .container-8 {
    padding-right: 60px;
  }
  .grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 0px auto auto;
    grid-template-rows: 0px auto auto;
  }
  .map {
    margin-top: 40px;
  }
  .ss-slide-content-1 {
    padding-top: 100px;
    background-color: hsla(0, 0%, 100%, .5);
  }
  .ss-slide-content-9 {
    background-color: hsla(0, 0%, 100%, .5);
  }
}

@media (max-width: 479px) {
  .sonata-stride-store-locator {
    padding-right: 10px;
    padding-left: 10px;
  }
  .homepage-hero-stride-slider {
    height: 42vh;
  }
  .sonata-stride-products-wrap {
    margin-bottom: 20px;
  }
  .sonata-stride-product-img {
    max-width: 50%;
  }
  .sonata-stride-fitness-slider {
    height: auto;
  }
  .sonata-stride-feature-h2 {
    font-size: 24px;
    text-align: left;
  }
  .sonata-stride-feature-h3 {
    font-size: 28px;
    text-align: left;
  }
  .sonata-stride-feature-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
  }
  .sonata-stride-feature-text.dark {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
  }
  .sonata-stride-function-slider {
    height: auto;
  }
  .sonata-stride-feature-slider {
    height: auto;
  }
  .slide-1 {
    min-height: 320px;
    background-size: cover;
  }
  .container-7 {
    padding-right: 40px;
    padding-left: 20px;
  }
  .slide-2 {
    min-height: 320px;
    background-position: 0% 100%;
  }
  .div-block-2 {
    padding-top: 10px;
    padding-left: 10px;
  }
  .div-block-2.small-1-3-text {
    padding-top: 60px;
  }
  .slide-3 {
    min-height: 320px;
  }
  .slide-4 {
    min-height: 320px;
  }
  .slide-5 {
    min-height: 320px;
  }
  .slide-6 {
    min-height: 320px;
  }
  .slide-7 {
    min-height: 320px;
  }
  .slide-8 {
    min-height: 320px;
  }
  .slide-9 {
    min-height: 320px;
  }
  .buy-now-explore-stride-link {
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 600;
  }
  .ss-full-width-container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
  }
  .link-block {
    background-position: 0% 90px;
  }
  .link-block-2 {
    background-position: 50% 90px;
  }
  .ss-home-banner-slide-3 {
    background-position: 50% 90px;
  }
  .ss-slide-content-1 {
    min-height: 320px;
    padding-left: 20px;
  }
  .ss-slide-content-2 {
    min-height: 320px;
    padding-top: 60px;
    padding-left: 20px;
    background-color: hsla(0, 0%, 100%, .5);
  }
  .ss-slide-content-3 {
    padding-top: 100px;
    padding-left: 20px;
  }
  .ss-slide-content-4 {
    min-height: 320px;
    padding-left: 20px;
  }
  .ss-slide-content-5 {
    min-height: 320px;
    padding-top: 40px;
    padding-left: 20px;
  }
  .ss-slide-content-6 {
    min-height: 320px;
    padding-top: 40px;
    padding-left: 20px;
  }
  .ss-slide-content-7 {
    min-height: 320px;
    padding-left: 20px;
    background-color: hsla(0, 0%, 100%, .5);
  }
  .ss-slide-content-8 {
    min-height: 320px;
    padding-top: 40px;
    padding-left: 20px;
    background-color: hsla(0, 0%, 100%, .8);
  }
  .ss-slide-content-9 {
    min-height: 320px;
    padding-top: 40px;
    padding-left: 20px;
    background-color: hsla(0, 0%, 100%, .8);
  }
  .youtube {
    margin-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  #w-node-bbf40f2869c2-8adc63af {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 479px) {
  #w-node-bbf40f2869c2-8adc63af {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-5d622ff37f70-8adc63af {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

@media screen and (max-width: 767px) {
  #w-node-e66b7a69d4b4-8adc63af {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 479px) {
  #w-node-e66b7a69d4b4-8adc63af {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 767px) {
  #w-node-e14e574cb9d1-8adc63af {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
}

@media screen and (max-width: 479px) {
  #w-node-e14e574cb9d1-8adc63af {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 6;
    grid-row-start: 6;
    -ms-grid-row-span: 1;
    grid-row-end: 7;
  }
}

#w-node-93e7be351579-8adc63af {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-93e7be351579-8adc63af {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 767px) {
  #w-node-93e7be351579-8adc63af {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
}

@media screen and (max-width: 479px) {
  #w-node-93e7be351579-8adc63af {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 5;
    grid-row-start: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 6;
  }
}

#w-node-5db01a3ccd65-8adc63af {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-5db01a3ccd65-8adc63af {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 767px) {
  #w-node-5db01a3ccd65-8adc63af {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

@media screen and (max-width: 479px) {
  #w-node-5db01a3ccd65-8adc63af {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
}

